#header {
	text-align: center;
}

#header p {
	font-size: smaller;
}

#body {
	margin-right: 10em;
	padding: 1.5%;
}

#nav {
	width: 10em;
	float: right;
	position: fixed;
	right: 0;
	color: #cccccc;
}

#nav p.title {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	border: none;
}

#logo {
	text-align: center
}

input {
	font-size: smaller;
}

tt {
	margin-left: 5em;
	margin-right: 5em;
}

.field {
	font-weight: hold;
}

.tipintro {
	color: #D00000;
}

table#contact tr, table#survey tr {
	border: none;
	background-color: #550000;
}
table#contact tr .field, table#survey tr .field{
	border: none;
	background-color: #880000;
}
table#list td {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}

a#num {
	color: white;
	text-decoration: underline;
}

tr.status_HelpWanted #num {
	color: orange;
}

tr.status_Ongoing #num {
	color: yellow;
}

tr.status_Done #num {
	color: green;
}

tr.status_Impossible #num {
	color: red;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: #FFFFFF;
	background-color: #000000;
}
a:link {
	color: #FF0000;
	text-decoration: none;
}
a:visited {
	color: #D00000;
	text-decoration: none;
}
a:hover {
	color: #00FF00;
	text-decoration: underline;
}
a:active {
	color: #0000FF;
	text-decoration: none;
}
h1 {
	color: #CCCCCC;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
	color: #666666;
	font-weight:normal;
}


form {
	color: #bbbbbb;
}

input, textarea, select {
	margin-top: 3px;
	border: 1px solid #666666;
	background-color: #202020;
	color: #aaaaaa;
}

input:focus, textarea:focus, select:focus {
	margin-top: 3px;
	border:1px solid #888888;
  	background-color: #303030;
  	color: #eeeeee;
}


.formbutton {
	color:#220000;
	border: 1px solid #555555;
	background-color: #777777;
}
.formbutton:hover {
	color:#440000;
	border: 1px solid #777777;
	background-color: #999999;
}
input[type=submit], input[type=reset] {
	color:#220000;
	border: 1px solid #555555;
	background-color: #777777;
}
input[type=submit]:hover, input[type=reset]:hover {
	color:#440000;
	border: 1px solid #777777;
	background-color: #999999;
}
